In [1]:
import numpy as np 
import pandas as pd

# Loading the multiple choices dataset, we will not look to the free form data on this study
mc = pd.read_csv('data/multipleChoiceResponses.csv', low_memory=False)

# Separating questions from answers
# This Series stores all questions
mcQ = mc.iloc[0,:]
# This DataFrame stores all answers
mcA = mc.iloc[1:,:]

In [2]:
mc.shape, mcA.shape

((23860, 395), (23859, 395))

In [3]:
# removing everyone that took less than 4 minutes or more than 600 minutes to answer the survey
less3 = mcA[round(mcA.iloc[:,0].astype(int) / 60) <= 4].index
mcA = mcA.drop(less3, axis=0)
more300 = mcA[round(mcA.iloc[:,0].astype(int) / 60) >= 600].index
mcA = mcA.drop(more300, axis=0)

# removing gender trolls, because we noticed from other kernels thata there are some ouliers here
gender_trolls = mcA[(mcA.Q1 == 'Prefer to self-describe') | (mcA.Q1 == 'Prefer not to say')].index
mcA = mcA.drop(list(gender_trolls), axis=0)

# removing student trolls, because a student won't make more than 250k a year.
student_trolls = mcA[((mcA.Q6 == 'Student') & (mcA.Q9 > '500,000+')) | \
                     ((mcA.Q6 == 'Student') & (mcA.Q9 > '400-500,000')) | \
                     ((mcA.Q6 == 'Student') & (mcA.Q9 > '300-400,000')) | \
                     ((mcA.Q6 == 'Student') & (mcA.Q9 > '250-300,000'))].index
mcA = mcA.drop(list(student_trolls), axis=0)

# dropping all NaN and I do not wish to disclose my approximate yearly compensation, because we are only interested in respondents that revealed their earnings
mcA = mcA[~mcA.Q9.isnull()].copy()
not_disclosed = mcA[mcA.Q9 == 'I do not wish to disclose my approximate yearly compensation'].index
mcA = mcA.drop(list(not_disclosed), axis=0)

In [4]:
# Remove all "OTHER_TEXT columns"
mcA = mcA[[c for c in mcA.columns if not c.endswith("_OTHER_TEXT") and c != 'Q32_OTHER']]

In [5]:
mcA.shape

(12956, 365)

In [6]:
q12_software_dummies = pd.get_dummies(mcA[['Q12_MULTIPLE_CHOICE']])  # Encode Q12

In [7]:
mcA = mcA[[c for c in mcA.columns if not c.endswith("TEXT")]]  # Remove all Q12_Part_*
mcA = mcA[[c for c in mcA.columns if c != "Q12_MULTIPLE_CHOICE"]]  # Remove Q12 itself
mcA = pd.concat([mcA, q12_software_dummies], axis=1)  # Append encoded Q12

In [8]:
minusone_cols = (mcA == '-1').sum(axis=0)
minusone_cols = minusone_cols[minusone_cols > 0]

/home/ptyshevskyi/envs/loc_env/lib/python3.6/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [9]:
for name, v in zip(minusone_cols.index, minusone_cols):
    print(name, v)

In [10]:
mcA.iloc[:5, 235:240]

  Q31_Part_11 Q31_Part_12               Q32           Q33_Part_1 Q33_Part_2
2         NaN         NaN               NaN                  NaN        NaN
3         NaN         NaN  Time Series Data  Government websites        NaN
5         NaN         NaN               NaN                  NaN        NaN
7         NaN         NaN    Numerical Data                  NaN        NaN
8         NaN         NaN        Image Data                  NaN        NaN

In [11]:
mcA.head(1)

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8,"Q12_MULTIPLE_CHOICE_Advanced statistical software (SPSS, SAS, etc.)","Q12_MULTIPLE_CHOICE_Basic statistical software (Microsoft Excel, Google Sheets, etc.)","Q12_MULTIPLE_CHOICE_Business intelligence software (Salesforce, Tableau, Spotfire, etc.)","Q12_MULTIPLE_CHOICE_Cloud-based data software & APIs (AWS, GCP, Azure, etc.)","Q12_MULTIPLE_CHOICE_Local or hosted development environments (RStudio, JupyterLab, etc.)",Q12_MULTIPLE_CHOICE_Other
2,434,Male,30-34,Indonesia,Bachelorâ€™s degree,Engineering (non-computer focused),Other,Manufacturing/Fabrication,5-10,"10-20,000",...,NaN,NaN,NaN,NaN,0,1,0,0,0,0

In [12]:
descriptive_names = ['duration', 'sex', 'age', 'country', 'education',  'undergrad_major', 'role', 'industry', 'experience', 'salary'] 
mcA.columns = descriptive_names + list(mcA.columns[len(descriptive_names):])

In [19]:
cols = [column for column in mcA.columns if "Part" in column ]
def replace_vals(row):
    for col in cols:
        if pd.isna(row[col]):
            row[col] = 0
        elif row[col]:
            row[col] = 1
    return row
test = mcA.apply(replace_vals, axis=1)

In [46]:
na_columns = test.columns[pd.isna(test).sum() > 0]

In [47]:
pd.isna(test[na_columns]).sum()

undergrad_major      91
experience           61
Q10                  75
Q17                2836
Q18                 618
Q20                4180
Q22                4624
Q23                 737
Q24                 753
Q25                 772
Q26                 778
Q32                3571
Q37                6270
Q40                2300
Q43                3955
Q46                3797
Q48                3783
dtype: int64

In [51]:
from sklearn.preprocessing import OneHotEncoder

In [52]:
ohe = OneHotEncoder()

In [54]:
ohe.fit_transform(test['Q18'][:, np.newaxis])

ValueError: Input contains NaN

In [56]:
pd.get_dummies(test['Q18'], dummy_na=True)

,C++,Go,Java,Javascript,MATLAB,None,Other,Python,R,SAS,SQL,Scala,VBA,NaN
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1,0,0,0,0,0
7,0,0,0,0,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,0,0,0,1,0,0,0,0,0,0
10,0,0,0,0,0,0,0,1,0,0,0,0,0,0
12,0,0,0,0,0,0,0,1,0,0,0,0,0,0
14,0,0,0,0,0,0,0,1,0,0,0,0,0,0
15,0,0,0,0,0,0,0,1,0,0,0,0,0,0
16,0,0,0,0,0,0,0,1,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,1,0,0,0,0,0
18,0,0,0,0,0,0,0,1,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,1,0,0,0
20,0,0,0,0,0,0,0,1,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,1,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,1,0,0,0
24,0,0,0,0,0,0,0,1,0,0,0,0,0,0
25,0,0,0,0,0,0,0,1,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,0,1,0,0
27,0,0,0,0,0,0,0,1,0,0,0,0,0,0
28,0,0,0,0,0,0,0,1,0,0,0,0,0,0
29,0,0,0,0,0,0,0,1,0,0,0,0,0,0
30,0,0,0,0,0,0,0,1,0,0,0,0,0,0
32,0,0,0,0,0,0,0,0,1,0,0,0,0,0
33,0,0,0,0,0,0,0,1,0,0,0,0,0,0
35,0,0,0,0,0,0,0,1,0,0,0,0,0,0
36,0,0,0,0,0,0,0,1,0,0,0,0,0,0
38,0,0,0,0,0,0,0,1,0,0,0,0,0,0
39,0,0,0,0,0,0,0,0,1,0,0,0,0,0
40,0,0,0,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23758,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23761,0,0,0,0,0,0,0,0,0,0,0,0,0,1
23762,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23763,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23764,0,0,0,0,0,0,0,0,0,0,0,0,0,1
23778,0,0,0,0,0,0,0,0,1,0,0,0,0,0
23782,0,0,0,0,0,0,0,0,1,0,0,0,0,0
23783,0,0,0,0,0,0,0,0,0,0,0,0,0,1
23787,0,0,0,0,0,0,0,0,0,0,0,0,0,1
23790,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23795,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23797,0,0,0,0,0,0,0,0,0,0,0,0,0,1
23799,0,0,0,0,0,0,0,0,0,0,0,0,0,1
23800,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23801,0,0,0,0,0,0,0,0,0,0,0,0,0,1
23807,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23810,0,0,0,0,0,0,0,0,0,0,0,0,0,1
23813,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23817,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23821,0,0,0,0,0,0,0,0,0,0,0,0,0,1
23823,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23824,1,0,0,0,0,0,0,0,0,0,0,0,0,0
23833,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23836,0,0,0,0,0,1,0,0,0,0,0,0,0,0
23841,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23842,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23844,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23854,0,0,0,0,0,0,0,0,0,0,0,0,0,1
23855,0,0,0,0,0,0,0,1,0,0,0,0,0,0
23857,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [55]:
test.shape

(12956, 365)

In [49]:
test[na_columns]

,undergrad_major,experience,Q10,Q17,Q18,Q20,Q22,Q23,Q24,Q25,Q26,Q32,Q37,Q40,Q43,Q46,Q48
2,Engineering (non-computer focused),5-10,No (we do not use ML methods),NaN,Python,NaN,NaN,1% to 25% of my time,I have never written code but I want to learn,I have never studied machine learning but plan...,Definitely not,NaN,NaN,Independent projects are equally important as ...,NaN,NaN,NaN
3,"Computer science (software engineering, etc.)",0-1,I do not know,Java,Python,NaN,ggplot2,75% to 99% of my time,5-10 years,< 1 year,Definitely yes,Time Series Data,DataCamp,Independent projects are equally important as ...,0-10,10-20,I am confident that I can explain the outputs ...
5,Mathematics or statistics,0-1,I do not know,SQL,R,NaN,NaN,75% to 99% of my time,5-10 years,2-3 years,Maybe,NaN,Coursera,Independent projects are slightly more importa...,20-30,20-30,I am confident that I can understand and expla...
7,"Information technology, networking, or system ...",10-15,No (we do not use ML methods),NaN,R,NaN,NaN,25% to 49% of my time,< 1 year,< 1 year,Probably not,Numerical Data,NaN,Independent projects are much more important t...,0-10,0,I do not know; I have no opinion on the matter
8,"Information technology, networking, or system ...",0-1,"We recently started using ML methods (i.e., mo...",NaN,Python,Keras,Matplotlib,75% to 99% of my time,< 1 year,< 1 year,Probably not,Image Data,Udacity,Independent projects are slightly more importa...,0,10-20,"I view ML models as ""black boxes"" but I am con..."
10,Engineering (non-computer focused),3-4,"We have well established ML methods (i.e., mod...",C#/.NET,Python,Scikit-Learn,D3,75% to 99% of my time,1-2 years,< 1 year,Probably not,Tabular Data,NaN,Independent projects are equally important as ...,10-20,50-60,I am confident that I can understand and expla...
12,Engineering (non-computer focused),5-10,"We recently started using ML methods (i.e., mo...",Java,Python,Scikit-Learn,NaN,75% to 99% of my time,5-10 years,5-10 years,Maybe,NaN,Udacity,Independent projects are much less important t...,0,0,I am confident that I can understand and expla...
14,Mathematics or statistics,1-2,We are exploring ML methods (and may one day p...,Python,Python,TensorFlow,Matplotlib,50% to 74% of my time,3-5 years,1-2 years,Probably yes,Time Series Data,NaN,Independent projects are much more important t...,30-40,40-50,"I view ML models as ""black boxes"" but I am con..."
15,"A business discipline (accounting, economics, ...",1-2,"We have well established ML methods (i.e., mod...",SQL,Python,Scikit-Learn,Seaborn,100% of my time,1-2 years,1-2 years,Definitely not,NaN,Coursera,Independent projects are equally important as ...,0,90-100,I am confident that I can understand and expla...
16,Engineering (non-computer focused),0-1,We use ML methods for generating insights (but...,NaN,Python,Scikit-Learn,NaN,50% to 74% of my time,1-2 years,1-2 years,Maybe,Categorical Data,NaN,Independent projects are equally important as ...,20-30,20-30,"Yes, most ML models are ""black boxes"""
17,Environmental science or geology,1-2,We are exploring ML methods (and may one day p...,R,R,Caret,ggplot2,25% to 49% of my time,1-2 years,1-2 years,Definitely yes,Tabular Data,NaN,Independent projects are much more important t...,20-30,10-20,"I view ML models as ""black boxes"" but I am con..."
18,"Medical or life sciences (biology, chemistry, ...",2-3,No (we do not use ML methods),NaN,Python,Scikit-Learn,Matplotlib,1% to 25% of my time,1-2 years,< 1 year,Definitely not,Tabular Data,edX,Independent projects are equally important as ...,0-10,90-100,I am confident that I can understand and expla...
19,"Computer science (software engineering, etc.)",5-10,No (we do not use ML methods),Python,SQL,Scikit-Learn,Matplotlib,50% to 74% of my time,10-20 years,1-2 years,Definitely yes,Tabular Data,Coursera,Independent projects are equally important as ...,10-20,20-30,I am confident that I can understand and expla...
20,I never declared a major,5-10,I do not know,Python,Python,Spark MLlib,Matplotlib,75% to 99% of my time,5-10 years,3-4 years,Probably yes,Sensor Data,Coursera,Independent projects are much more important t...,0,10-20,"Yes, most ML models are ""black boxes"""
21,Engineering (non-computer focused),0-1,We are exploring ML methods (and may one day p...,SQL,R,NaN,ggplot2,1% to 25% of my time,1-2 years,1-2 years,Probably not,Text Data,Coursera,Independent projects are much more important t...,0,0,"I view ML models as ""black boxes"" but I am con..."
23,"A business discipline (accounting, economics, ...",2-3,We use ML methods for generating insights (but...,Python,SQL,Scikit-Learn,Matplotlib,1% to 25% of my time,3-5 years,4-5 years,Maybe,Tabular Data,Coursera,Independent projects are slightly more importa...,10-20,80-90,I am confident that I can understand and expla...
24,"Computer science (software engineering, etc.)",0-1,We use ML methods for generating insights (but...,Python,Python,Caffe,Matplotlib,75% to 99% of my time,3-5 years,1-2 years,Maybe,Image Data,Coursera,Independent projects are slightly more importa...,30-40,50-60,"I view ML models as ""black boxes"" but I am con..."
25,Mathematics or statistics,5-10,"We recently started using ML methods (i.e., mo...",Python,Python,Scikit-Learn,Seaborn,25% to 49% of my time,5-10 years,5-10 years,Maybe,NaN,Coursera,Independent projects are slightly more importa...,0,0-10,I am confident that I can understand and expla...
26,Other,1-2,We use ML methods for generating insights (but...,MATLAB,Scala,Scikit-Learn,Matplotlib,1% to 25% of my time,1-2 years,1-2 years,Probably not,NaN,Coursera,Independent projects are slightly more importa...,10-20,30-40,"I view ML models as ""black boxes"" but I am con..."
27,Engineering (non-computer focused),2-3,No (we do not use ML methods),Python,Python,Keras,ggplot2,0% of my time,I have never written code but I want to learn,I have never studied machine learning but plan...,Maybe,NaN,NaN,Independent projects are slightly more importa...,NaN,NaN,NaN
28,"Medical or life sciences (biology, chemistry, ...",2-3,"We recently started using ML methods (i.e., mo...",SQL,Python,NaN,Matplotlib,50% to 74% of my time,3-5 years,1-2 years,Probably yes,Numerical Data,Coursera,Independent projects are slightly less importa...,0-10,20-30,I am confident that I can understand and expla...
29,Mathematics or statistics,10-15,No (we do not use ML methods),NaN,Python,NaN,NaN,1% to 25% of my time,5-10 years,I have never studied machine learning but plan...,Probably not,Text Data,DataCamp,Independent projects are equally important as ...,0,0,I do not know; I have no opinion on the matter
30,"Computer science (software engineering, etc.)",2-3,I do not know,NaN,Python,Scikit-Learn,Matplotlib,50% to 74% of my time,1-2 years,1-2 years,Probably yes,Numerical Data,Udacity,Independent projects are much more important t...,0-10,20-30,"I view ML models as ""black boxes"" but I am con..."
32,Other,1-2,No (we do not use ML methods),NaN,R,NaN,NaN,0% of my time,I have never written code but I want to learn,I have never studied machine learning and I do...,Probably not,NaN,NaN,Independent projects are much more important t...,NaN,NaN,NaN
33,"Computer science (software engineering, etc.)",0-1,"We recently started using ML methods (i.e., mo...",Python,Python,Scikit-Learn,Matplotlib,50% to 74% of my time,3-5 years,< 1 year,Definitely yes,Time Series Data,Coursera,Independent projects are slightly less importa...,0,0-10,I am confident that I can explain the outputs ...
35,Mathematics or statistics,1-2,"We recently started using ML methods (i.e., mo...",Python,Python,Scikit-Learn,Matplotlib,75% to 99% of my time,3-5 years,3-4 years,Definitely yes,Numerical Data,Coursera,Independent projects are much more important t...,0,0-10,I am confident that I can understand and expla...
36,"Computer science (software engineering, etc.)",5-10,No (we do not use ML methods),Java,Python,Keras,Seaborn,25% to 49% of my time,< 1 year,< 1 year,Definitely yes,Categorical Data,Udacity,Independent projects are slightly less importa...,0,0,I am confident that I can understand and expla...
38,Engineering (non-computer focused),0-1,"We recently started using ML methods (i.e., mo...",NaN,Python,NaN,NaN,75% to 99% of my time,< 1 year,< 1 year,Probably yes,NaN,NaN,Independent projects are much less important t...,40-50,20-30,"I view ML models as ""black boxes"" but I am con..."
39,Physics or astronomy,2-3,"We recently started using ML methods (i.e., mo...",R,R,Caret,ggplot2,25% to 49% of my time,10-20 years,3-4 years,Definitely yes,Tabular Data,Coursera,Independent projects are slightly more importa...,20-30,70-80,I am confident that I can understand and expla...
40,"Computer science (software engineering, etc.)",3-4,I do not know,SQL,Python,Keras,ggplot2,50% to 74% of my time,1-2 years,< 1 year,Definitely not,Numerical Data,NaN,Independent projects are slightly more importa...,10-20,30-40,I am confident that I can understand and expla...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23758,Engineering (non-computer focused),2-3,"We have well established ML methods (i.e., mod...",Python,Python,Scikit-Learn,Matplotlib,75% to 99% of my time,5-10 years,5-10 years,Probably yes,Image Data,NaN,NaN,NaN,NaN,NaN
23761,"Medical or life sciences (biology, chemistry, ...",3-4,We use ML methods for generating insights (but...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23762,Mathematics or statistics,2-3,We are exploring ML methods (and may one day p...,Python,Python,NaN,NaN,1% to 25% of my time,3-5 years,2-3 years,Definitely yes,NaN,NaN,NaN,NaN,NaN,NaN
23763,"Computer science (software engineering, etc.)",1-2,We use ML methods for generating insights (but...,Java,Python,Scikit-Learn,ggplot2,50% to 74% of my time,1-2 years,1-2 years,Maybe,Tabular Data,Coursera,Independent projects are equally important as ...,NaN,NaN,NaN
23764,"Information technology, networking, or system ...",5-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23778,"Computer science (software engineering, etc.)",2-3,"We have well established ML methods (i.e., mod...",Python,R,PyTorch,Shiny,50% to 74% of my time,3-5 years,3-4 years,Maybe,Image Data,DataQuest,NaN,NaN,NaN,NaN
23782,"Medical or life sciences (biology, chemistry, ...",10-15,I do not know,Python,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23783,Mathematics or statistics,0-1,No (we do not use ML methods),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23787,"A business discipline (accounting, economics, ...",2-3,No (we do not use ML methods),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23790,Engineering (non-computer focused),0-1,No (we do not use ML methods),Python,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23795,Engineering (non-computer focused),10-15,We use ML methods for generating insights (but...,R,Python,randomForest,ggplot2,1% to 25% of my time,5-10 years,1-2 years,Maybe,NaN,NaN,NaN,NaN,NaN,NaN
23797,Environmental science or geology,0-1,We are exploring ML methods (and may one day p...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23799,"Computer science (software engineering, etc.)",5-10,"We have well established ML methods (i.e., mod...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23800,"Computer science (software engineering, etc.)",4-5,No (we do not use ML methods),Javascript/Typescript,Python,NaN,Matplotlib,75% to 99% of my time,< 1 year,< 1 year,Definitely not,NaN,NaN,NaN,NaN,NaN,NaN
23801,Mathematics or statistics,5-10,No (we do not use ML methods),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23807,"Computer science (software engineering, etc.)",3-4,No (we do not use ML methods),SQL,Python,NaN,NaN,25% to 49% of my time,3-5 years,I have never studied machine learning but plan...,Probably not,NaN,DataCamp,Independent projects are much more important t...,10-20,30-40,I do not know; I have no opinion on the matter
23810,Physics or astronomy,5-10,"We recently started using ML methods (i.e., mo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23813,"Computer science (software engineering, etc.)",5-10,We are exploring ML methods (and may one day p...,C#/.NET,Python,NaN,NaN,50% to 74% of my time,3-5 years,3-4 years,Probably yes,NaN,NaN,NaN,NaN,NaN,NaN
23817,"Information technology, networking, or system ...",2-3,I do not know,NaN,Python,NaN,NaN,0% of my time,1-2 years,I have never studied machine learning but plan...,Probably not,Geospatial Data,Kaggle Learn,Independent projects are much more important t...,NaN,NaN,NaN
23821,"Computer science (software engineering, etc.)",0-1,"We recently started using ML methods (i.e., mo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23823,"Computer science (software engineering, etc.)",1-2,We are exploring ML methods (and may one day p...,NaN,Python,Scikit-Learn,Matplotlib,50% to 74% of my time,1-2 years,< 1 year,Probably not,Geospatial Data,Udemy,Independent projects are slightly more importa...,40-50,NaN,NaN
23824,"Computer science (software engineering, etc.)",10-15,No (we do not use ML methods),C/C++,C++,NaN,Matplotlib,1% to 25% of my time,20-30 years,5-10 years,Probably yes,Time Series Data,NaN,Independent projects are slightly less importa...,0-10,10-20,I am confident that I can explain the outputs ...
23833,Mathematics or statistics,0-1,"We recently started using ML methods (i.e., mo...",C#/.NET,Python,NaN,Matplotlib,100% of my time,< 1 year,< 1 year,Maybe,NaN,NaN,NaN,NaN,NaN,NaN
23836,"Computer science (software engineering, etc.)",2-3,We are exploring ML methods (and may one day p...,NaN,None,NaN,NaN,0% of my time,< 1 year,< 1 year,Maybe,NaN,Coursera,NaN,NaN,NaN,NaN
23841,"Information technology, networking, or system ...",20-25,I do not know,Python,Python,NaN,NaN,25% to 49% of my time,3-5 years,1-2 years,Maybe,Image Data,NaN,NaN,NaN,NaN,NaN
23842,"Computer science (software engineering, etc.)",0-1,I do not know,Python,Python,PyTorch,Seaborn,50% to 74% of my time,< 1 year,< 1 year,Probably not,Numerical Data,NaN,NaN,NaN,NaN,NaN
23844,"Computer science (software engineering, etc.)",10-15,We are exploring ML methods (and may one day p...,Java,Python,Scikit-Learn,Matplotlib,50% to 74% of my time,< 1 year,< 1 year,Maybe,Categorical Data,NaN,NaN,NaN,NaN,NaN
23854,"Computer science (software engineering, etc.)",5-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23855,"Computer science (software engineering, etc.)",5-10,"We recently started using ML methods (i.e., mo...",C/C++,Python,TensorFlow,D3,50% to 74% of my time,3-5 years,4-5 years,Definitely yes,NaN,NaN,NaN,NaN,NaN,NaN
23857,"Computer science (software engineering, etc.)",0-1,"We recently started using ML methods (i.e., mo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
test[test.columns[pd.isna(test).sum() > 0]].shape

(12956, 17)

In [21]:
test.to_csv('transformed_v2.csv')

In [14]:
from pandas.api.types import CategoricalDtype

# transforming compensation into category type and ordening the values
categ = ['0-10,000', '10-20,000', '20-30,000', '30-40,000', '40-50,000',
         '50-60,000', '60-70,000', '70-80,000', '80-90,000', '90-100,000',
         '100-125,000', '125-150,000', '150-200,000', '200-250,000', '250-300,000',
         '300-400,000', '400-500,000', '500,000+']
cat_type = CategoricalDtype(categories=categ, ordered=True)
mcA['Q9'] = mcA['Q9'].astype(cat_type)
# Doing this we are transforming the category "I do not wish to disclose my approximate yearly compensation" into NaN

# transforming age into category type and sorting the values
categ = ['18-21', '22-24', '25-29', '30-34', '35-39', '40-44', 
         '45-49', '50-54', '55-59', '60-69', '70-79', '80+']
cat_type = CategoricalDtype(categories=categ, ordered=True)
mcA['Q2'] = mcA['Q2'].astype(cat_type)

# transforming years of experience into category type and sorting the values
categ = ['0-1', '1-2', '2-3', '3-4', '4-5', '5-10',
         '10-15', '15-20', '20-25', '25-30', '30+']
cat_type = CategoricalDtype(categories=categ, ordered=True)
personal_data.years_experience = personal_data.years_experience.astype(cat_type)

# transforming education level into category type and sorting the values
categ = ['No formal education past high school', 'Some college/university study without earning a bachelorâ€™s degree',
         'Professional degree', 'Bachelorâ€™s degree', 'Masterâ€™s degree', 'Doctoral degree', 'I prefer not to answer']
cat_type = CategoricalDtype(categories=categ, ordered=True)
personal_data.education_level = personal_data.education_level.astype(cat_type)

KeyError: 'Q9'

In [ ]:
personal_data.shape

In [ ]:
personal_data.to_csv('transformed.csv')