In [139]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import tqdm

In [128]:
df = pd.read_csv('salary_prediction.csv', index_col=0)

In [129]:
df.head()

,age,country,role,employer_industry,years_experience,yearly_compensation,Q11_Part_1,Q11_Part_2,Q11_Part_3,Q11_Part_4,Q11_Part_5,Q11_Part_6
2,30-34,Other,Other,Other,5-10,"10-20,000",0,0,0,0,0,1
3,30-34,United States of America,Data Scientist,Other,0-1,"0-10,000",1,0,0,0,0,0
5,22-24,India,Data Analyst,Other,0-1,"0-10,000",0,0,0,0,0,1
7,35-39,Other,Other,Academics/Education,10-15,"10-20,000",0,0,0,0,0,1
8,18-21,India,Other,Other,0-1,"0-10,000",0,1,0,0,0,0

In [130]:
features = pd.get_dummies(df[[c for c in df.columns if c != 'yearly_compensation']])
target = df.yearly_compensation

In [131]:
def train_models(base_model, features, target):
    models = []
    for i, cat in tqdm.tqdm(enumerate(target.cat.categories[:-1])):
    #     print(i, cat, categ[:i + 1], categ[i + 1:])
        labels = [0] * len(categ[:i+1]) + [1] * len(categ[i + 1:])
        map = {cat: labels[j] for j, cat in enumerate(categ)}
        new_target = train_y.replace(map)
        mod = LogisticRegression(random_state=42, solver='lbfgs')
        mod.fit(train_X, new_target)
        models.append(mod)

In [133]:
sample = pd.DataFrame(np.zeros((1, len(cols))), columns=features.columns)

In [135]:
q11_map = {"None of these activities are an important part of my role at work": "Q11_Part_6",
           "Do research that advances the state of the art of machine learning": "Q11_Part_5",
           "Build prototypes to explore applying machine learning to new areas": "Q11_Part_4",
           "Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data": "Q11_Part_3",
           "Build and/or run a machine learning service that operationally improves my product or workflows": "Q11_Part_2",
           "Analyze and understand data to influence product or business decisions": "Q11_Part_1"}

In [136]:
cols = list(features.columns)
def form_input_to_sample(age, country, industry, role, experience, q11):
    global cols
    sample = pd.DataFrame(np.zeros((1, len(cols))), columns=features.columns)
    sample['age_' + age] = 1
    sample['country_' + country] = 1
    sample['employer_industry_' + industry] = 1
    sample['role_' + role] = 1
    sample['years_experience_' + experience] = 1
    
    for value in q11:
        sample[q11_map[value]] = 1
    return sample

In [138]:
form_input_to_sample('18-21', 'Brazil', 'Other', 'Student', '0-1', ['Do research that advances the state of the art of machine learning'])

,Q11_Part_1,Q11_Part_2,Q11_Part_3,Q11_Part_4,Q11_Part_5,Q11_Part_6,age_18-21,age_22-24,age_25-29,age_30-34,...,employer_industry_Online Service/Internet-based Services,employer_industry_Other,years_experience_0-1,years_experience_1-2,years_experience_10-15,years_experience_15+,years_experience_2-3,years_experience_3-4,years_experience_4-5,years_experience_5-10
0,0.0,0.0,0.0,0.0,1,0.0,1,0.0,0.0,0.0,...,0.0,1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0