In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/usr/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [4]:
df = pd.read_csv('transformed.csv', index_col=0)

In [5]:
df.head()

,gender,age,country,education_level,undergrad_major,role,employer_industry,years_experience,yearly_compensation
2,Male,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,Manufacturing/Fabrication,5-10,"10-20,000"
3,Female,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,I am a student,0-1,"0-10,000"
5,Male,22-24,India,Master’s degree,Mathematics or statistics,Data Analyst,I am a student,0-1,"0-10,000"
7,Male,35-39,Chile,Doctoral degree,"Information technology, networking, or system ...",Other,Academics/Education,10-15,"10-20,000"
8,Male,18-21,India,Master’s degree,"Information technology, networking, or system ...",Other,Other,0-1,"0-10,000"

In [8]:
df_tf = pd.get_dummies(df[[c for c in df.columns if c != 'yearly_compensation']])

In [9]:
target = df['yearly_compensation']

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [21]:
lr = LogisticRegression(random_state=42, solver='lbfgs', multi_class='auto')

In [22]:
from sklearn.model_selection import cross_val_score
cross_val_score(lr, df_tf, target, cv=5).mean()

/home/ptyshevskyi/envs/loc_env/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/ptyshevskyi/envs/loc_env/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/ptyshevskyi/envs/loc_env/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/ptyshevskyi/envs/loc_env/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)
/home/ptyshevskyi/envs/loc_env/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

0.37232911833769966

In [19]:
rf = RandomForestClassifier(random_state=42, n_estimators=100)

In [20]:
cross_val_score(rf, df_tf, target, cv=5).mean()

0.3522016642823818

In [34]:
rf.fit(df_tf, target)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [31]:
import numpy as np

In [40]:
imp_sorted = sorted(rf.feature_importances_, reverse=True)
feature_names = df_tf.columns[np.argsort(rf.feature_importances_)[::-1]]

In [41]:
for feat, imp in zip(feature_names, imp_sorted):
    print(feat, imp)

country_United States of America 0.02809397613868252
role_Student 0.02728839877511941
employer_industry_Computers/Technology 0.026158969502079157
employer_industry_I am a student 0.026141207842908642
undergrad_major_Computer science (software engineering, etc.) 0.021907500442187
education_level_Master’s degree 0.021705594162483646
undergrad_major_Engineering (non-computer focused) 0.02010754600218728
undergrad_major_Mathematics or statistics 0.018764539246544525
years_experience_1-2 0.018593770723713727
role_Data Scientist 0.018281314931296654
years_experience_0-1 0.017911631607573447
years_experience_2-3 0.01766071932174207
role_Software Engineer 0.017333668845555116
years_experience_5-10 0.01652253120621685
country_India 0.016436084273638567
education_level_Bachelor’s degree 0.016328575791324323
age_22-24 0.016218146590490333
gender_Female 0.015553914199076906
gender_Male 0.015533802882107534
employer_industry_Accounting/Finance 0.014849105806778397
education_level_Doctoral degree 0.01466515198460886
age_30-34 0.014517719464122114
years_experience_3-4 0.014427451183321975
undergrad_major_A business discipline (accounting, economics, finance, etc.) 0.01439623315989345
age_25-29 0.013714271348818396
role_Data Analyst 0.013642317702475863
years_experience_4-5 0.013482792941445039
age_18-21 0.013382166684356728
employer_industry_Academics/Education 0.013190040524579344
role_Other 0.01285257779726145
employer_industry_Other 0.011837137157665364
age_35-39 0.011712415219835532
employer_industry_Online Service/Internet-based Services 0.011691588339910169
undergrad_major_Physics or astronomy 0.011010321826755147
years_experience_10-15 0.010422083093229638
employer_industry_Medical/Pharmaceutical 0.009983641418658677
role_Research Scientist 0.009947911933665851
undergrad_major_Medical or life sciences (biology, chemistry, medicine, etc.) 0.009047232822175627
employer_industry_Insurance/Risk Assessment 0.00895117215619043
role_Consultant 0.008799735103719198
role_Data Engineer 0.00879252803038721
age_40-44 0.008774200108777105
role_Business Analyst 0.008678848897989793
employer_industry_Government/Public Service 0.008369607684752492
country_Canada 0.007958205021284212
country_United Kingdom of Great Britain and Northern Ireland 0.007920539332860396
country_China 0.007917643577429665
undergrad_major_Information technology, networking, or system administration 0.007779378852046608
undergrad_major_Other 0.007531352934085962
employer_industry_Manufacturing/Fabrication 0.00748566723807239
country_Other 0.007204517289351175
employer_industry_Retail/Sales 0.007008834879009324
country_Brazil 0.006881753012071968
employer_industry_Energy/Mining 0.006843976418662277
country_Germany 0.006780902186838117
undergrad_major_Social sciences (anthropology, psychology, sociology, etc.) 0.006711125910801569
employer_industry_Marketing/CRM 0.0067051746862772064
role_Manager 0.006645033123509883
country_Russia 0.00654943552636893
employer_industry_Broadcasting/Communications 0.006510966899187159
age_45-49 0.006330754441680383
country_France 0.006244313665078977
country_Spain 0.005959982296312258
role_Research Assistant 0.005949661913505298
employer_industry_Online Business/Internet-based Sales 0.0058737737339639275
years_experience_15-20 0.005810513532311901
role_Product/Project Manager 0.005605516228997492
country_Japan 0.0055616944901169686
education_level_Some college/university study without earning a bachelor’s degree 0.005387954148439732
age_50-54 0.005299284784489108
employer_industry_Shipping/Transportation 0.0051544471754114505
education_level_Professional degree 0.0050938917612138755
role_Chief Officer 0.004717474978758208
country_Australia 0.004606121912166326
country_Italy 0.004357544700007177
country_Poland 0.004263491539863106
undergrad_major_Humanities (history, literature, philosophy, etc.) 0.004097711778581693
years_experience_20-25 0.003987908438165184
country_Netherlands 0.003979111797457777
employer_industry_Military/Security/Defense 0.0037877090967662163
country_Turkey 0.003544362997540577
age_55-59 0.003419080774283731
employer_industry_Non-profit/Service 0.003360993877108594
undergrad_major_Environmental science or geology 0.003254616146153842
country_Sweden 0.0031866340173608326
employer_industry_Hospitality/Entertainment/Sports 0.003185357116136507
country_Singapore 0.0031221512828140713
country_Mexico 0.003093798369682928
role_Statistician 0.003030120033793226
country_Ukraine 0.0030251414322205643
country_Switzerland 0.0030210724186127175
country_Israel 0.002894861333120276
age_60-69 0.0027918879236767426
country_Nigeria 0.0027757284284768537
country_Denmark 0.002550428491706601
country_I do not wish to disclose my location 0.0025227913492787356
country_South Korea 0.0024573768656218544
country_Portugal 0.0024006800847239406
role_DBA/Database Engineer 0.0023689793560836615
country_Argentina 0.002295044867330809
country_South Africa 0.0022827640714128896
years_experience_25-30 0.0021770651865130296
country_Colombia 0.0021434742638007033
country_Viet Nam 0.0021176199074238494
country_Ireland 0.0020908763064230846
role_Developer Advocate 0.0019675847232158406
country_Belgium 0.0019214349385164233
country_Pakistan 0.0018485737608274033
country_Indonesia 0.0018434800790822444
education_level_I prefer not to answer 0.0017267798855679392
country_Greece 0.0017243244132870564
role_Marketing Analyst 0.0016849837148710531
country_Norway 0.0016444583159245388
country_Hungary 0.0016435899210740543
role_Principal Investigator 0.0015972419624020293
education_level_No formal education past high school 0.0015879220327082594
country_New Zealand 0.0015393834094908074
country_Belarus 0.0015087425978478127
role_Salesperson 0.0014953845607577143
country_Finland 0.0014784779678559431
country_Malaysia 0.0014585691341422716
country_Romania 0.0014462988670752494
undergrad_major_Fine arts or performing arts 0.0013968023749883277
country_Chile 0.0013456322037941478
country_Iran, Islamic Republic of... 0.0013324880894066016
country_Hong Kong (S.A.R.) 0.0012423085807929243
country_Czech Republic 0.0012212416821329385
country_Egypt 0.0012168417976651125
country_Thailand 0.0012083227562320396
undergrad_major_I never declared a major 0.0011862994463216379
country_Philippines 0.0011169131734804648
country_Kenya 0.0011025708822382824
country_Republic of Korea 0.0010671929314033898
country_Austria 0.001048163249275657
country_Bangladesh 0.0009578681491467031
country_Peru 0.0008757990354176728
country_Tunisia 0.0006528283283663
age_70-79 0.0006342608175281629
country_Morocco 0.0006074980820745219
role_Data Journalist 0.0002764454462696338
age_80+ 9.687161007283847e-05